body{
  font-family:Playfair Display;
}
a{
  text-decoration:none;
  font-size: 14;
}
p{
  font-size: 14px;
  color:#626262;
  margin:0px;
  padding:0px;
}
h2{
  font-size: 30px;
  color:#626262;
}
div>p{
    margin-top:31px;
}
li{
  display: inline-block;
  margin:0 auto;
  padding:0 auto;
}



/*Начало МЕНЮ*/

.menu>li{
  display:inline-block;
  color:black;
  margin-top:75px;
}
.first{
  margin-left: 300px;
}
.second{
  padding-left: 132px;

}
.third{
  padding-left:  111px;
}
.fourth{
  padding-left: 101px;

}

/*Заканчиваться МЕНЮ*/



/*Начало блока*/
.wrapper{
  width:961px ;
  margin:0px 120px 0px 120px;
  padding: 103px 30px 30px 30px;

}
.option>article{
  margin-left:0px;
  padding-right:0px;
  width: 415px;
}
.grupe{
  text-decoration:none;
  color:#b4ad9e;
  font-size:15px;
  margin-top:31px;
}
.one{
  width:430px;
  margin-right:61px;
}
/*Конец блока*/
button{
  display: block;
  margin:0 auto;
  color:#626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color:white;
  height:60px;
  width:164px;
  
}
/*Начало кнопки*/



/*Конец кнопки*/
