
a{
  text-decoration:none;
  font-size:14px;
  font-family:Playfair Display;
}
a:hover{
  color: blue;
}
.menu{
  display:inline-block;
  color:black;
  margin-top:75px;
  margin-left:319px;
}
.second{
  padding-left: 132px;

}
.third{
  padding-left:  111px;
}
.fourth{
  padding-left: 101px;
}
.option{
  height:500px;
  width:400px;
  margin-left:150px;
  margin-right:61px;
  margin-top:103px;
  font-family:Playfair Display;
}
h2{
  display:block;
  font-size:30px;
  color:#626262;
  margin-top:31px;
  font-family:Playfair Display;
}
.grupe{
  text-decoration:none;
  color:#b4ad9e;
  font-size:15px;
  margin-top:0px;
  font-family:Playfair Display;
}
p{
  color:#626262;
  font-size: 14px;
  font-family:Playfair Display;
}
article{
  display:block;
  height:522px;
  width:470px;
}
button{
  display:block;
  margin:auto;
  color:#626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color:white;
  height:60px;
  width:164px;
  font-family:Playfair Display;
}
li{
  display: inline-block;
}
.menu{
  font-size:14px;
  margin-top:75px;
  color:green;
  text-decoration:none;
}
