body{
  font-family:Playfair Display;
  margin: 0px;

}
main{
  margin-bottom: 54px;
}

a{
  text-decoration:none;
  color:#626262;
  font-size:14px;
}
a:hover{
  color:blue;
}
p{
  font-size: 14px;
  color:#626262;
  margin:0px;
  padding:0px;
}

div>p{
    margin-top:31px;
}
li{
  display: inline-block;
  margin:0 auto;
  padding:0 auto;
}



/*Начало МЕНЮ*/

.menu{
  margin-left:130px;


}
.second{
  padding-left:132px;

}
.third{
  padding-left:111px;
}
.fourth{
  padding-left:101px;

}
/*Заканчиваться МЕНЮ*/



/*Начало блока*/
.wrapper{
  display: block;
  margin:75px auto 0px;
  width:980px ;

}
.Top{
  margin-top:103px;
}
p{
  color:#626262;
  font-size: 14px;
  font-family:Playfair Display;
}

article{
  width:415px;
  margin:103px 0px 30px;
}


.one{
  padding-right: 63px;
}
.fest{
  font-size: 30px;
  color:#626262;
}
article>img{
  margin-bottom: 32px;
}
/*Конец блока*/


/*Начало кнопки*/
.grupe{
  padding-top:31px
}

.load{
  display: block;
  margin:0 auto;
  display:block;
  color:#626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color:white;
  height:60px;
  width:164px;
}


/*Конец кнопки*/
