body{
  margin:0 auto;
  padding:0 auto;
}
a{
  text-transform:uppercase;
  text-decoration:none;
  font-size:14px;
  color: #626262;
}
article>a{
    font-family:Playfair Display, sans-serif;
    color:#c8c3b9;
}

a:hover{
  color:blue;

}
p{
  font-size: 14px;
  color:#626262;

}
h2{
  font-size: 30px;
  color:#626262;
}
div>p{
    margin-top:31px;
}
li{
  display: inline-block;

}
img{
  padding-bottom: 15px;
}

/*Начало МЕНЮ*/

.menu{
  margin-left:130px;


}
.nav_photodiary{
  padding-left:132px;

}
.nav_music{
  padding-left:111px;
}
.nav_travel{
  padding-left:101px;

}
/*Заканчиваться МЕНЮ*/



/*Начало блока*/
.wrapper{
  display: block;
  margin:75px auto 60px;
  width:971px ;

}


article{
  width:460px;
  margin:103px 0px 30px;
}

/*Конец блока*/


/*Начало кнопки*/
button{
  display:block;
  margin:auto;
  display: block;
  margin:0 auto;
  color:#626262;
  font-size: 20px;
  border: 1px solid #626262;
  background-color:white;
  height:60px;
  width:164px;
}


/*Конец кнопки*/
