
*{
	outline:  1px solid #000;
}
body{
  margin:0 auto;
  padding:0 auto;
}
.wrapper{
  margin: 0px 261px 0px;
  width:1110px;
}

li{
  display: inline-block;
}
a{
	text-decoration: none;
}

/*Header*/
nav{
	padding: 36px 0px 0px;
}
h1{
	display:inline-block;
	font-family:Regular;
	font-size: 30px;
	line-height: 32px;
	font-weight: 300;
	color:#555252;
	text-transform: uppercase;
	margin: 0 auto; 
}
h1::first-letter{
	color:#1abc9c;
	font-weight:400;
	text-transform: uppercase; 
}
ul{
	float: right;
}

/*---Menu---*/

/*Featured product*/
h2{
	text-align:center; 
}
h2::after{}

.headline{
	font-family: Roboto - Black;
	font-size:48px;
	color:#515151;
}