@import url(http://uk.allfont.net/allfont.css?fonts=roboto-black);

nav{
	padding-right: 274px; 
}

.headline{
	font-size: 48px;
	font-weight: 400;
	font-family: 'Roboto Black', Regular;
	text-transform: uppercase;
	color:#515151;
}
li{
	display: inline-block;
}
.wrapper{
  display: block;
  margin:43px auto 0px;
  width:1647px;


}
.line{
	margin-top: 29px;
}